*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: normal;
    font-weight: normal;
    line-height: 18px;
}

body{
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.container{
    width: 375px;
    background-color: #F4F4F4;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
    
}

header {
    background-color: #B6F00A;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    font-style: normal;
    text-shadow: 1px 2px 2px;
    font-size: 24px;
    color: #5a5a5a;
    
}

main{
    padding:24px;
}

label{
    font-size: 14px;
    color: #777777;
}

select{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    width: 327px;
    height: 48px;
    top: 113px;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
    

}

select.hover {
    background: #B6F00A;

}
input{
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    display: block;
    width: 327px;
    height: 48px;
    top: 113px;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

button{
    width: 327px;
    height: 48px;
    left: 24px;
    top: 374px;
    background: #B6F00A;
    border-radius: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #5a5a5a;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 36px;
}
button:hover{
    opacity: 0.9;
    background: #16DEF0;
}
button:active {
    background: #B6F00A;
}

section{
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    color: #5a5a5a;
    width: 327px;
    height: 276px;
    left: 24px;
    top: 458px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;

}
.currency-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-name{
    color: #5a5a5a;
    font-size: 14px;
   
}

.currency-value{
    color: #00B2CA;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 20px;
}
